{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block 'title' %}Matérias{% endblock %}

{% block 'body' %}
    <div class="">
        <div class="d-flex justify-content-around my-5">
            <div>
                <h1 class="text-light">Matérias</h1>
            </div>
            <div>
                <button 
                    type="button" 
                    class="btn btn-primary btn-lg"
                    {% if not request.user.lider %}
                        disabled
                    {% endif %}
                    data-bs-toggle="modal" data-bs-target="#modalMateria"
                >
                Adicionar Matéria
                </button>
            </div>
        </div>

        <div class="row">
            {% for m in materias %}
                <div class="col-sm-4 mb-3 mb-sm-0 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{m.nome_materia}}</h5>
                            <p class="card-text">Professor: {{m.professor}}</p>
                            <div class="d-flex justify-content-around mt-3">
                                <a href="{% url "listar-materiais" m.id %}" class="btn btn-primary">Ver mais</a>
                                {% if request.user.lider%}
                                    <a href="#" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#modalMateria" 
                                        data-bs-idmateria="{{m.id}}"
                                        data-bs-nomemateria="{{m.nome_materia}}"
                                        data-bs-professor="{{m.professor.id}}"
                                        data-bs-tipo="editar"
                                    >
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <a href="{% url 'excluir-materia' m.id %}" class="btn btn-danger"onclick="return confirm('Tem certeza de que deseja excluir esta matéria?')"><i class="fa-solid fa-trash"></i></a>
                                {% endif %}
                            </div>                
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="modal fade" id="modalMateria" tabindex="-1" aria-labelledby="modalMateriaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalMateriaLabel">Criar Turma</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url "criar-materia" %}" method="POST" id="formMateria">
                        {% csrf_token %}
                        <div class="mb-3">
                        </div>
                        {% for field in formMateria %}
                            <div class="mb-3">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endfor %}
                        <div class="col">
                            <button style="width: 100%;" id="buttonSubmit" class="btn submit text-light btn-success my-2" type="submit">
                                Salvar
                            </button>
                            <button style="width: 100%;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Fechar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'script' %}
    <script>
        const modalMateria = document.getElementById('modalMateria')
        if (modalMateria) {
            modalMateria.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;

            const idmateria = button.getAttribute('data-bs-idmateria');
            const nomemateria = button.getAttribute('data-bs-nomemateria');
            const professor = button.getAttribute('data-bs-professor');
            const tipo = button.getAttribute('data-bs-tipo');

            const modalTitle = modalMateria.querySelector('.modal-title');
            
            var id_nome_materia = document.getElementById('id_nome_materia');
            var id_professor = document.getElementById('id_professor');
            
            var form = document.getElementById('formMateria');

            id_nome_materia.value = nomemateria;
            id_professor.value = professor;

            if(tipo=="editar"){
                form.action = `/materia/editar/${idmateria}/`;
                modalTitle.textContent = `Editando a Matéria ${nomemateria}`;
            }else{
                form.action = `/materia/criar/`;
                modalTitle.textContent = `Nova Matéria`
            }
        })
        }
    </script>
{% endblock 'script' %}